<div class="home__container">
    <app-cards 
        cardImg="../assets/GOW-Ragnarok.jpg"
        gameName="God of War Ragnarok"
        gameLabel="Standard"
        gameTitle="Play It Now!"
        gameType="Full Game | PS5"
        gamePrice="R$ 349,99"
    >
    </app-cards>
    <app-cards 
        cardImg="../assets/Cyberpunk.jpg"
        gameName="Cyberpunk 2077"
        gameLabel="Standard"
        gameTitle="Play It Now!"
        gameType="Full Game | PS4"
        gamePrice="R$ 149,70"
    >
    </app-cards>
    <app-cards 
        cardImg="../assets/Horizon-FW.jpg"
        gameName="Horizon Forbidden West"
        gameLabel="Full Game"
        gameTitle="Buy Now!"
        gameType="Full Game | PS4"
        gamePrice="R$ 299,90"
    >
    </app-cards>
    <app-cards 
        cardImg="../assets/Knack2.jpg"
        gameName="Knack 2"
        gameLabel="Cross Buy"
        gameTitle="Play It Now!"
        gameType="Full Game | PS4 | PS5"
        gamePrice="R$ 99,90"
    >
    </app-cards>
    <app-cards 
        cardImg="../assets/MK-1.jpg"
        gameName="Mortal Kombat 1"
        gameLabel="Exclusive"
        gameTitle="Buy Now!"
        gameType="Full Game | PS5"
        gamePrice="R$ 299,90"
    >
    </app-cards>
    <app-cards 
        cardImg="../assets/RDR2.jpg"
        gameName="Red Dead Redemption 2"
        gameLabel="Exclusive"
        gameTitle="Play It Now!"
        gameType="Full Game | PS5"
        gamePrice="R$ 149,90"
    >
    </app-cards>
</div>

