<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png"
         alt=""
         srcset=""
         width="140px"
         height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/lucas-cipriano-3801b6172/" target="_blank">
                    <img src="../assets/linkedin-png.png"
                        heigth="15px"
                        width="15px"
                        alt="Linkedin"
                    >
                    LINKEDIN
                </a>
            </li>
            <li>
                <a href="https://github.com/Luckeeys" target="_blank">
                    <img src="../assets/github-png.png"
                        heigth="15px"
                        width="15px"
                        alt="Github"
                    >
                    GITHUB
                </a>
            </li>
        </ul>
    </div>
</div>
